/.DS_Store
/1.png
/1080.png
/2.png
/240p.png
/3.png
/4.png
/480chess.png
/480city.png
/5.png
/Cargo.lock
/Doodle.png
/Doodle2.png
/Doodle3.png
/Doodle4.png
/Doodle5.png
/MI.png
/Untitled.png
/firewatch.png
/gitignore
/golBase.png
/golBase3.png
/happy-tree.png
/pkg
/pvz.png
/ram.jpg
/target
/windmill.png